.header {
    width: 100%;
    display: flex;
    background-color: #101010;
    color: white;
}

.header>.logo {
    width: 19%;
    padding: 1%;
}

.navigation {
    width: 69%;
    padding: 1%;
    margin: auto;
}

.navigation nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navigation nav ul li {
    margin-left: 10px;
    justify-content: space-evenly;
}

.quote {
    width: 19%;
    padding: 1%;
    margin: auto;
}